* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../public/assets/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../public/assets/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Semibold";
  src: url("../public/assets/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../public/assets/Montserrat-Bold.ttf");
}

body {
  font-family: "Montserrat-Regular" -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

a {
  color: white;
  text-decoration: none;
}
.Wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.container {
  height: 100vh;
  width: calc(100vw - 150px);
  overflow-y: scroll;
}
.sideBarContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  height: 100vh;
  width: 400px;
  position: fixed;
  right: -400px;
  transition: all 0.4s;
  background-color: white;
  top: 0;
}
.sideBarContainer.open {
  right: 0px;
}
.sideBarContainer.close {
  right: -400px;
}

.sideBarContainer ul {
  font-family: "Montserrat-Regular";
  font-size: 16px;
  overflow-y: scroll;
  height: 250px;
}
.sideBarContainer ul::-webkit-scrollbar {
  width: 10px;
}

.sideBarContainer ul::-webkit-scrollbar-track {
  -webkit-box-shadow: transparent;
}

.sideBarContainer ul::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;
}

.sideBarContainer ul li {
  list-style: none;
}
.sideBarContainer ul li:not(:last-child) {
  margin-bottom: 10px;
}
.sideBarContainer-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}
.sideBarContainer-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-radius: 50%;
}
.sideBarContainer-name {
  font-family: "Montserrat-Bold";
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.sideBarContainer-email {
  font-family: "Montserrat-Regular";
  font-size: 14px;
  color: #818181;
}
.sideBarContainer-title {
  font-family: "Montserrat-SemiBold";
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 10px;
}
