.formContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.formContainerLeft {
  width: 50%;
  height: 100%;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainerLeft img {
  width: 150px;
}
.formContainerRight {
  width: 50%;
  height: 100%;
  padding: 80px;
  background-color: black;
}
.formContainerRight span {
  align-self: flex-start;
  font-family: "Montserrat-Regular";
  color: white;
  font-size: 12px;
}
.formContainerRightPass {
  margin-top: 50px;
}
.formContainerRight h1 {
  font-family: "Montserrat-SemiBold";
  font-size: 26px;
  margin-bottom: 150px;
  color: white;
}
.formContainerRight form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formContainerRight form input {
  border: none;
  border-bottom: 1px solid white;
  font-size: 14px;
  font-family: "Montserrat-Regular";
  margin-bottom: 50px;
  padding-bottom: 10px;
  outline: none;
  width: 100%;
  background-color: transparent;
  color: white;
}

.formContainerRightStart span {
  font-family: "Montserrat-SemiBold";
  cursor: pointer;
}
.formContainerRightStart {
  margin-top: 10px;
}
.formContainerRight form input::placeholder {
  font-family: "Montserrat-Regular";
  color: white;
}
.formContainerRight form button {
  border: none;
  padding: 20px 10px;
  text-align: 0;
  width: 100px;
  font-size: 14px;
  font-family: "Montserrat-Bold";
  border-radius: 8px;
  cursor: pointer;
  background-color: #84f4bd;
  transition: all 0.4s;
}
.formContainerRight form button:active {
  transform: scale(0.95);
}
