.navBar {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 150px;
  top: 0;
  background-color: #262626;
  color: white;
  position: relative;
  padding: 20px;
}

.navBar ul {
  display: flex;
  flex-direction: column;
}
.navBar ul li {
  list-style: none;
  font-family: "Montserrat-Regular";
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}
.navBar ul li:not(:last-child) {
  margin-bottom: 20px;
}
.navBar ul li p {
  margin-left: 10px;
}
.navBarLogo {
  margin-bottom: 50px;
}
.navBarLogo img {
  width: 100px;
}
.navBarLogOut {
  font-family: "Montserrat-Regular";
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  color: white;
}
.navBarLogOut p {
  margin-left: 10px;
}
