.userCard {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}
.userCard p {
  font-family: "Montserrat-SemiBold";
  font-size: 16px;
}
.userCard span {
  font-family: "Montserrat-Regular";
  font-size: 14px;
  color: #aaaaaa;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-radius: 50%;
}
